.header{
	@extend %small-text;
	@extend %centered-text;
	@extend %sans-serif;
	@include outer-container(100%);
	color:$paper;
	background:$secondary-color;
	height:100%;
	height:100vh;
	display:flex;
	margin-bottom:$lead-four;
}

.header__title{
	@extend %serif;
	@extend %small-cap;
	font-size:$x-large-text;
	letter-spacing:-0.4px;
	line-height:0.9em;
	font-weight:normal;
	margin:0px;
	flex:1 1 auto;
	justify-content:center;
	margin-top:1em;
	@media screen and (min-width:768px) {
		font-size:$xx-large-text;
	}

	// @include span-columns(3);

	span{
		display:block;
		padding-bottom:0.25em;
		border-bottom:1px solid $paper;
	}
}