#seasons-greetings{
	
}

.seasons-greetings__title{
	@extend %serif;
	font-weight:normal;
	color:$secondary-color;
	font-size:$xx-large-text;
	line-height:1em;
	text-align:center;
	
	@media screen and (min-width:768px) {
		font-size:150px;
		letter-spacing:-3px;
	}
}