.story-slideshow-grid{
	
	margin-top:$lead-two;
	margin-bottom:$lead-four;
	@media screen and (min-width:768px) {
		@include span-columns(9);
		@include shift(2);
	}
}

.slideshow-thumbnail{
	
	@include omega(3n);
	img{
		max-width:100%;
		filter:grayscale(1.0) brightness(1.1);
		
	}

	@media screen and (min-width:768px) {
		@include span-columns(3 of 9);
	}
}