
.story{
	@include outer-container(90%);
	margin-bottom:$lead-four;
	

	&:after{
		
	}
	
	
}

.story__title{
	@extend %serif;
	color:$secondary-color;
	// border-bottom:2px solid $secondary-color;
	font-weight:normal;
	margin-bottom:0em;
	margin-top:0em;
	@include span-columns(12);
	@media screen and (min-width:768px) {
		@include span-columns(2);
	}
}

.story__text{
	@extend %serif;
	color:$primary-color;
	margin-bottom:0em;
	margin-top:0em;
	font-feature-settings: "onum";

	@media screen and (min-width:768px){
		@include span-columns(9);
		// @include shift(2);
	}
	p{
		margin:0em;
	}

	p + p{
		text-indent:1.5em;
	}
}



.story__text-intro{
	@extend %small-cap;
	// @extend %sans-serif;
	// font-weight:bold;
	color:$secondary-color;
}

.story__image-break{
	@include span-columns(12);
	margin-top:$lead-two;
	margin-bottom:$lead-four;
}

.story__meta-data-container{
	@extend %mono;
	margin-top:$lead-one;
	font-size:$small-text;
	@include span-columns(9);
	@include shift(2);
	border-top:1px solid $secondary-color;
	padding-left:0em;
}

.story__meta-data-list{
	margin-top:0em;
	@include span-columns(3);
	&:nth-child(1){
		border-right:1px dotted $secondary-color;
	}
	&:nth-child(2){
		@include span-columns(2);
		border-right:1px dotted $secondary-color;
	}

	&:nth-child(3){
		@include span-columns(6);
		
	}
}

.meta-data-list__item{
	margin-left:0em;
}

.meta-data-list__item{
	
}

.meta-data-list__title{
	@extend %small-cap;
	font-weight:normal;
	color:$secondary-color;
	margin-top:0em;
	margin-bottom:0em;
}


a{
	text-shadow:-1px -1px 0 $paper,  
    1px -1px 0 $paper,
    -1px 1px 0 $paper,
     1px 1px 0 $paper;
	text-decoration:none;
	@include linear-gradient(180deg, white 0%, white 50%, white 51%, white 90%, $secondary-color 95%, white 100%);
}