.story-container{
	@media screen and (min-width:768px) {
		@include outer-container(960px);	
	}

	margin-bottom:0px;
	padding-bottom:$lead-four;
	// border-bottom:1px solid $secondary-color;
}

.section__title-container{
	
}

.section__title{
	@extend %serif;
	text-transform:uppercase;
	font-size:$medium-text;
	letter-spacing:2px;
	color:$secondary-color;
	font-weight:normal;
	margin-bottom:$lead-four;
	// font-style:italic;
	text-align:center;
	// border:1px solid $secondary-color;
	
	&:before{
		content:"•";
		margin-right:0.5em;
	}
	&:after{
		content:"•";
		margin-left:0.5em;
	}
	

}