
.story{
	@include outer-container(90%);
	margin-bottom:$lead-two;
	
	@media screen and (min-width:768px) {
			margin-bottom:$lead-four;
	}

	&:after{
		
	}
	
	
}

.story__title{
	@extend %serif;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	color:$secondary-color;
	// border-bottom:2px solid $secondary-color;
	font-weight:normal;
	margin-bottom:$lead-one;
	margin-top:0em;
	@include span-columns(12);
	@media screen and (min-width:768px) {
		@include span-columns(2);
	}
}

.story__text{
	@extend %serif;
	color:$primary-color;
	margin-bottom:0em;
	margin-top:0em;
	font-feature-settings: "onum";

	@media screen and (min-width:768px){
		@include span-columns(9);
		// @include shift(2);
	}
	p{
		margin:0em;
	}

	p + p{
		text-indent:1.5em;
	}

	a{
		text-shadow:-1px -1px 0 $paper,  
	    1px -1px 0 $paper,
	    -1px 1px 0 $paper,
	     1px 1px 0 $paper;
		text-decoration:none;
		@include linear-gradient(180deg, $paper 0%, $paper 50%, $paper 51%, $paper 94%, $secondary-color 95%, $paper 100%);
	}
	.small-cap{
		@extend %small-cap;
	}

	a.slideshow-thumbnail{
		text-shadow:none;
		background:none;
	}
}



.story__text-intro{
	@extend %small-cap;
	// @extend %sans-serif;
	// font-weight:bold;
	color:$secondary-color;
}

.story__image{
	@include span-columns(12);

	a{
		background:none;
	}

	@media screen and (min-width:768px){
		// @include span-columns(3);
	}
}

.story__note{
	// @extend %mono;
	@extend %small-cap;
	@extend %serif;
	text-align:center;
	font-size:$medium-text;
}

.story__image-break{
	@include span-columns(12);
	margin-top:$lead-two;
	margin-bottom:$lead-four;
}

.story__meta-data-container{
	@extend %mono;
	margin-top:$lead-one;
	font-size:$small-text;
	border-top:1px solid $secondary-color;
	padding-left:0em;

	@media screen and (min-width:768px) {
		@include span-columns(9);
		@include shift(2);
	}
}

.story__meta-data-list{
	margin-top:0em;
	@include span-columns(4);
	&:nth-child(1){
		border-right:1px dashed $secondary-color;
	}
	&:nth-child(2){
		@include span-columns(2);
		border-right:1px dashed $secondary-color;
	}

	&:nth-child(3){
		@include span-columns(6);
		
	}

	@media screen and (min-width:768px) {
		
	}
}

.meta-data-list__item{
	margin-left:0em;
	line-height:1.5em;
}

.meta-data-list__item{
	
}

.meta-data-list__title{
	@extend %small-cap;
	font-weight:normal;
	color:$secondary-color;
	margin-top:0em;
	margin-bottom:0em;
}




