


$small-text:12px;
$medium-text: 19px;
$big-text:36px;
$x-large-text:42px;
$xx-large-text:72px;

$lead-one:1rem;
$lead-two: $lead-one*2;
$lead-three:$lead-one*3;
$lead-four:$lead-one*4;

%small-text{
	font-size:$small-text;
}

%sans-serif{
	font-family:Graphik, Arial, Helvetica, Sans-serif;
}

%serif{
	font-family:"Domaine Text", "Times New Roman", Times, serif;
}

%mono{
	font-family:Courier, monospace;
}

%centered-text{
	text-align:center;
}

%small-cap{
	// text-transform:lowercase;
	// font-variant:small-caps;
	font-feature-settings: "c2sc", "smcp";
	// text-transform:uppercase;
	// font-size:0.66em;
	// letter-spacing:0.05em;
}


html{
	font-size:$medium-text;
	line-height:$lead-two;

	@media screen and (max-width:400px) {
		font-size:18px;
		line-height:1.4em;

	}
}

p,h1,h2,h3,h4,h5,h6,li{
	text-rendering:optimizeLegibility;
}

