
@font-face {
    font-family: Silly;
    src: url(../../fonts/DomaineTextWeb-Regular.eot),
    	 url(../../fonts/DomaineTextWeb-Regular.woff);
}

$small-text:12px;
$medium-text: 19px;
$big-text:36px;
$x-large-text:48px;
$xx-large-text:72px;


$lead-one:1rem;
$lead-two: $lead-one*2;
$lead-three:$lead-one*3;
$lead-four:$lead-one*4;

%small-text{
	font-size:$small-text;
}

%sans-serif{
	font-family:Arial, Helvetica, Sans-serif;
}

%serif{
	font-family:Silly, "Times New Roman", Times, serif;
}

%mono{
	font-family:Courier, monospace;
}

%centered-text{
	text-align:center;
}

%small-cap{
	


    font-variant: small-caps;

@supports(font-feature-settings: 'smcp') {
    
        font-variant: normal;
        font-feature-settings: 'smcp';
	}
	
}


html{
	font-size:$medium-text;
	line-height:$lead-two;

	@media screen and (max-width:400px) {
		font-size:18px;
		line-height:1.4em;

	}
}

p,h1,h2,h3,h4,h5,h6,li{
	text-rendering:optimizeLegibility;
}

